.logo{
    color:#0000FF;
}
.derecha { 
    float: right; 
    color:#E91E63 }

.tamaño{
    width: 30px
}
.boton{
     width: 30px
}
.izquierda{
    float: 'left'
}
.arriba{
    float: 'top'
}
body{
    background-color: WhiteSmoke
}